<form ng-submit="vm.save()">
  <div class="form-group">
    <label>Comic Name:</label>
    <input ng-model="vm.comic.comicName" class="form-control" />
  </div>
  <div class="form-group">
    <label>Comic Issue:</label>
    <input ng-model="vm.comic.comicIssue" class="form-control" />
  </div>
  <div class="form-group">
    <label>Comic Publisher:</label>
    <input ng-model="vm.comic.comicPublisher" class="form-control" />
  </div>
  <button class="btn btn-primary">Create Comic</button>
</form>

<ul>
  <li ng-repeat="comic in vm.comics">
    {{comic.comicName}}, {{comic.comicIssue}} {{comic.comicPublisher}}
    <a href="/edit/{{comic._id}}">edit</a>
    <a href="#" ng-click="vm.remove(comic._id)">delete</a>
  </li>
</ul>
