<div>
  <button ng-click="vm.create()">CREATE</button>
  <button ng-click="vm.read()">READ</button>
  <button ng-click="vm.update()">UPDATE</button>
  <button ng-click="vm.delete()">DELETE</button>
</div>

<form ng-submit="vm.save()">
  <div class="form-group">
    <label>Comic Name:</label>
    <input ng-model="vm.comic.comicName" class="form-control" />
  </div>
  <div class="form-group">
    <label>Comic Issue:</label>
    <input ng-model="vm.comic.comicIssue" class="form-control" />
  </div>
  <div class="form-group">
    <label>Comic Publisher:</label>
    <input ng-model="vm.comic.comicPublisher" class="form-control" />
  </div>
  <button class="btn btn-primary">Create Comic</button>
</form>
<select ng-model="vm.publisher" ng-change="vm.getComics()">
  <option value="DC">DC</option>
  <option value="Marvel">Marvel</option>
  <option value="Image">Image</option>
</select>
<ul>
  <li ng-repeat="comic in vm.comics">
    {{comic.comicName}}, {{comic.comicIssue}} {{comic.comicPublisher}}
    <a href="/edit/{{comic._id}}">edit</a>
    <a href="#" ng-click="vm.remove(comic._id)">delete</a>
  </li>
</ul>

<div style="padding-top: 20px;">
  <a href="/">Logout</a>
</div>
