<form ng-submit="controller.save()">
  <div class="form-group">
    <label>Comic Name:</label>
    <input ng-model="controller.comic.comicName" class="form-control" />
  </div>
  <div class="form-group">
    <label>Comic Issue:</label>
    <input ng-model="controller.comic.comicIssue" class="form-control" />
  </div>
  <div class="form-group">
    <label>Comic Publisher:</label>
    <input ng-model="controller.comic.comicPublisher" class="form-control" />
  </div>
  <button class="btn btn-primary">Edit Comic</button>
</form>
