<!DOCTYPE html>
<html ng-app="comic">
<div class="jumbotron text-center">

<head>
  <title>comic</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="/lib/w3-theme-blue-grey.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <body class="w3-theme-l4">
  <meta charset="utf-8">
  <base href="/" />

  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/ngApp/css/site.css"/>

  <div style="min-width:400px">

<div class="w3-bar w3-large w3-theme-d4">
  <a href="#" class="w3-bar-item w3-button"><i class="fa fa-bars"></i></a>
  <span class="w3-bar-item">Comics</span>
  <a href="#" class="w3-bar-item w3-button w3-right"><i class="fa fa-search"></i></a>
</div>


</head>
</div>

<body>

  <ui-view></ui-view>


  <script src="/bower_components/angular/angular.min.js"></script>
  <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="/bower_components/angular-resource/angular-resource.min.js"></script>
  <script src="/bower_components/angular-animate/angular-animate.min.js"></script>
  <script src="/bower_components/angular-touch/angular-touch.min.js"></script>
  <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

  <script src="/ngApp/app.js"></script>
  <script src="/ngApp/controllers/controllers.js"></script>
  <script src="/ngApp/services/services.js"></script>



</body>

</html>
